.blackseparator {
    position:absolute;
    top:30px;
    left:0px;
    height: 1px;
    width: 100%;
    background-color: #000000;  
    display: block;
}
    
#accounts {
    position:absolute;
    top: 30%;
    left: 50%;
    width: 280px;
    display: block;
    margin-left: -140px;
}
    
    
.addaccount {
	position:absolute;
    top: 20%;
    left: 50%;
    width: 280px;
    display: block;
    margin-left: -140px;
}
    
.header {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 30px;
    float: left;
    background-color: #000;
    color: #ebebeb;
    text-align: left;
}

.header .topcombo {
    vertical-align:middle;
    float: left;
    width:100%;
    height: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#34952b), to(#176b21));
}

.header .topcombo img {
    display: block;
    float: left;
    margin-left: 3px;
}

.header .topcombo label {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 5px;
    text-shadow: black 0.1em 0.1em 0.2em;    
}


.header .combo {
    float: left;
    width:100%;
}

.header .combo img {
    padding: 3px 0 0 3px;
    display: block;
    float: left;
}

.header .combo label {
    padding: 4px 6px 0 6px;
    float: left;
    max-height: 20px;
    font-size: 18px;
    font-weight: bold;
}

.header .buttons {
    float: right;
    margin-right: 5px;
}

.header .progress {
    float: right;
    margin: 2px 8px 0 0;
}