#container {
    height: 100%;
    background-color: #000;
    float: left;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 100%;
    background-color: #f2f1f0;
    float: left;
}

.column {
    float: left;
    height: 100%;
}   

.action {
    margin-left: 10px;
    float: right;
    font-size: 10px;
    max-width: 50px;
}

.action_you {
    margin-left: 10px;
    float: right;
    font-size: 10px;
    max-width: 100px;
}

.wrapper {
    float: left;
    width: 100%;
    height: 100%;
    /*border: 1px solid #ccc;
    border-width: 0 0 0 0px;*/
}

.tweetpage {
    background-color: #fff;
    color: #000;
    position:absolute;
    top:97px;   
    width:100%;
    bottom: 1px;
    overflow-y: auto;    
}

.scrollablepage {
    position: absolute;
    top:96px;   
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
