#container {
    height: 100%;
    background-color: #000;
    float: left;
    margin: 0;
    padding: 0;
}

#content {
    height: 100%;
    width: 100%;
    background-color: #f2f1f0;
    float: left;
}

.column {
    float: left;
    height: 100%;
}   
    
#navmenu {
    display: inline; 
    width: 100%;
}

.navmenu-element {
    width:25%; float:left;
    height: 30px;
    text-align:center;
    display: table;
    background: -webkit-gradient(linear, left top, left bottom, from(#686868), to(#505050));
}

.navmenu-element div{
    border-right: 1px black solid;
    display: table-cell;
    height:40px;
    vertical-align:middle;
    color: #303030;
    font-weight: bold;
}

.navmenu-element-clicked {
    width:25%; float:left;
    height: 30px;
    text-align:center;
    display: table;
    background: -webkit-gradient(linear, left top, left bottom, from(#383838), to(#181818));
}

.navmenu-element-clicked div{
    border-right: 1px black solid;
    display: table-cell;
    height:40px;
    vertical-align:middle;
    font-weight: bold;   
}

.blackseparator {
    position:absolute;
    top:30px;
    left:0px;
    height: 1px;
    width: 100%;
    background-color: #000000;  
    display: block;
}
    
    
.header {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 70px;
    float: left;
    background-color: #000;
    color: #ebebeb;
    text-align: left;
}

.header .topcombo {
    vertical-align:middle;
    float: left;
    width:100%;
    height: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#34952b), to(#176b21));
}

.header .topcombo img {
    display: block;
    float: left;
    margin-left: 3px;
}

.header .topcombo label {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 5px;
    text-shadow: black 0.1em 0.1em 0.2em;    
}


.header .combo {
    float: left;
    width:100%;
}

.header .combo img {
    padding: 3px 0 0 3px;
    display: block;
    float: left;
}

.header .combo label {
    padding: 4px 6px 0 6px;
    float: left;
    max-height: 20px;
    font-size: 18px;
    font-weight: bold;
}

.header .buttons {
    float: right;
    margin-right: 5px;
}

.header .progress {
    float: right;
    margin: 2px 8px 0 0;
}

.action {
    margin-left: 10px;
    float: right;
    font-size: 10px;
    max-width: 50px;
}

.action_you {
    margin-left: 10px;
    float: right;
    font-size: 10px;
    max-width: 100px;
}

.wrapper {
    float: left;
    width: 100%;
    height: 100%;
    /*border: 1px solid #ccc;
    border-width: 0 0 0 0px;*/
}

.tweetpage {
    background-color: #fff;
    color: #000;
    position:absolute;
    top:70px;   
    width:100%;
    bottom: 1px;
    overflow-y: auto;
}