/*** Tweet stuffs ***/

.tweet {
    padding-bottom: 5px;
}

.tweet .content-divider {
    position: relative;
    width: 16px;
    height:8px;
}

.tweet .content-divider .inner-carrot {
    position: absolute;
    top: -7px;
    left: 21;
    z-index: 11;
    border-bottom: 7px solid white;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-right: 7px solid transparent;
    border-right-width: 7px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left: 7px solid transparent;
    border-left-width: 7px;
    border-left-style: solid;
    border-left-color: transparent;
}

.tweet .content-divider .outer-carrot {
    position: absolute;
    top: -8;
    left: 20;
    z-index: 10;
    border-bottom: 8px solid #DDD;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
    border-right: 8px solid transparent;
    border-right-width: 8px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left: 8px solid transparent;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: transparent;
}

.tweet .bubble-x {
    position: absolute;
    top: -18;
    left: 2;
    z-index: 12;
}

.tweet .icon {
    float: left;
    width: 48px;
    height: 48px;
    margin: 5px;
}

.tweet .icon img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 8px;
}

.tweet .replylist {
    background-color:#F7F6F6;
    -webkit-box-shadow: inset 0 5px 5px -5px hsla(0,0%,0%,.5),
                inset 0 -5px 5px -5px hsla(0,0%,0%,.5);
}

.tweet .content {
    float: left;
    padding: 0;
    margin-top: 5px;
    position: relative;
    min-height: 50px;
    overflow: hidden;
}

.tweet .content .mark {
    float: left;
    display: block;
}

.tweet .content .repost_mark {
    float: left;
    display: block;
    margin-right: 5px;
}

.tweet .content .name {
    float: left;
    margin: 0 5px 5px 0px;
    font-weight: bold;
    color: #006c12;
    font-size: 12px;
    display: block;
}

.tweet .content .star {
    float: right;
    display: block;
}

.tweet .content .retweeted {
    float: right;
    display: block;
}

.tweet .content .message {
    font-size: 12px;
    cursor: default;
    word-wrap: break-word;
    color: #FFFFFF;
}

.tweet .content .timestamp, .tweet .content .repost {
    font-size: 11px;
    color: #999;
    cursor: default;
}
    
.tweet .content .timestamp {
    margin-top: 5px;
}

.tweet .content .timestamp a {
    color: #666;
}

.tweet .content .timestamp a:hover {
    color: #333;
}

.tweet .content .repost {
    margin-top: 2px;
}

.tweet .options {
    float: right;
    height: 16px;
    margin-top: 3px;
}

.whiteseparator {
    height: 1px;
    width: 100%;
    background-color: #666;  
    display: block;
}